@model ProyectoWeb2.Models.Reuniones

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout2";
}

<h2>Edit</h2>

<h4>Reuniones</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="Título_reunión" class="control-label blue-text"></label>
                <input asp-for="Título_reunión" class="form-control" />
                <span asp-validation-for="Título_reunión" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha_Hora" class="control-label blue-text"></label>
                <input asp-for="Fecha_Hora" class="form-control" />
                <span asp-validation-for="Fecha_Hora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuarioid" class="control-label blue-text"></label>
                <select asp-for="Usuarioid" class="browser-default" asp-items="ViewBag.Usuarioid"></select>
                <span asp-validation-for="Usuarioid" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Clienteid" class="control-label blue-text"></label>
                <select asp-for="Clienteid" class="browser-default" asp-items="ViewBag.Clienteid"></select>
                <span asp-validation-for="Clienteid" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn-floating btn-large waves-effect waves-light blue" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn-floating btn-large waves-effect waves-light green" asp-action="Index">Back to List</a>
</div>

