@{
    @using Microsoft.AspNetCore.Http;
    var rol = Context.Session.GetString("rol").ToString();
}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoWeb2</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="~/css/estilo.css" type="text/css" rel="stylesheet" media="screen,projection" />

</head>
<body style="background-image:url(http://www.capital.cl/wp-content/uploads/2015/07/negocios.jpg);background-size:cover;">
    @*<a href="~/Views/Shared/_Layout2.cshtml">~/Views/Shared/_Layout2.cshtml</a>*@
    <nav class="light-blue lighten-1 teal darken-2" role="navigation">
        <div class="nav-wrapper container">
            <a asp-area="" asp-controller="Home" asp-action="Main" class="brand-logo">Unix.Company</a>
            <ul class="right hide-on-med-and-down">
                @if (rol == "admin")
    {
            <li><a asp-area="" asp-controller="Usuarios" asp-action="Index">Usuarios</a></li>
            <li><a asp-area="" asp-controller="Clientes" asp-action="Index">Clientes</a></li>
            <li><a asp-area="" asp-controller="Contactos" asp-action="Index">Contactos</a></li>
            <li><a asp-area="" asp-controller="Reuniones" asp-action="Index">Reuniones</a></li>
            <li><a asp-area="" asp-controller="Support_Tickets" asp-action="Index">Support_Tickets</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Logout</a></li>
}
else
{
            <li><a asp-area="" asp-controller="Clientes" asp-action="Index">Clientes</a></li>
            <li><a asp-area="" asp-controller="Contactos" asp-action="Index">Contactos</a></li>
            <li><a asp-area="" asp-controller="Reuniones" asp-action="Index">Reuniones</a></li>
            <li><a asp-area="" asp-controller="Support_Tickets" asp-action="Index">Support_Tickets</a></li>
            <li><a asp-area="" asp-controller="Home" asp-action="Index">Logout</a></li>
}

            </ul>

            <ul id="nav-mobile" class="side-nav">
                <li><a asp-area="" asp-controller="Usuarios" asp-action="Index">Usuarios</a></li>
                <li><a asp-area="" asp-controller="Clientes" asp-action="Index">Clientes</a></li>
                <li><a asp-area="" asp-controller="Contactos" asp-action="Index">Contactos</a></li>
                <li><a asp-area="" asp-controller="Reuniones" asp-action="Index">Reuniones</a></li>
                <li><a asp-area="" asp-controller="Support_Tickets" asp-action="Index">Support_Tickets</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Index">Logout</a></li>
            </ul>
            <a data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
    </nav>
    <div class="container ">
        @RenderBody()

    </div>
    <footer class="page-footer  brown darken-2" style="margin-top:250px">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Unix.Company</h5>
                    <p class="grey-text text-lighten-4">Somos una empresa enfocada en el desarro y 
                    de las microempresas como Multinacionales  en el area de Soluciones Imformaticas</p>


                </div>

                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="#!">FACEBOOK</a></li>
                        <li><a class="white-text" href="#!">COOREO</a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright brown darken-3">
            <div class="container">
                Desing by <a class="orange-text text-lighten-3" href="http://materializecss.com">JUANGABRIEL</a>
            </div>
        </div>
    </footer>

    <environment include="Development">
        <link href="~/css/materialize.css" rel="stylesheet" />
        <link href="~/js/materialize.js" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/init.js"></script>
        <script type="text/javascript">    $(".button-collapse").sideNav();</script>


    </environment>
    <environment exclude="Development">
        <link href="~/css/materialize.css" rel="stylesheet" />
        <link href="~/js/materialize.js" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="js/materialize.js"></script>
        <script src="js/init.js"></script>
        <script type="text/javascript">    $(".button-collapse").sideNav();</script>

    </environment>

    @RenderSection("Scripts", required: false)
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
    <script type="text/javascript">    $(".button-collapse").sideNav();</script>
</body>
</html>
