@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}
<div id="fullscreen_bg" class="fullscreen_bg" style="background:url(http://www.entreps.org/wp-content/uploads/2015/11/2.-Centros-de-negocios-3-1030x446.jpg);background-size:cover";>
<div class="container" style="position:center;width:100%;margin-top:2%;">
    <form class="form-signin" asp-action="Index" method="post" asp-controller="Home">
        <h1 class="form-signin-heading text-muted">Login</h1>
        <input type="text" class="form-control" placeholder="Email address" required="" autofocus="" name="usuario">

        <input type="password" class="form-control" placeholder="Password" required="" name="contraseña">
        <br />
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Sign In
        </button>
    </form>
</div>
    </div>
