@{
    @using Microsoft.AspNetCore.Http;
    ViewData["Title"] = "Main";
    var user = Context.Session.GetString("user").ToString();
    var rol = Context.Session.GetString("rol").ToString();
    Layout = "_Layout2";

}
<h2>@user</h2>
<h2>@rol</h2>
<p>loremainrgrtgtrgtrgtrg</p>
<p>loremainrgrtgtrgtrgtrg</p>
<p>loremainrgrtgtrgtrgtrg</p>
<p>loremainrgrtgtrgtrgtrg</p>
<p>loremainrgrtgtrgtrgtrg</p>
<p>loremainrgrtgtrgtrgtrg</p>
<p>loremainrgrtgtrgtrgtrg</p>
<p>loremainrgrtgtrgtrgtrg</p>

