@{
    @using Microsoft.AspNetCore.Http;
    ViewData["Title"] = "Main";
    var user = Context.Session.GetString("user").ToString();
    var rol = Context.Session.GetString("rol").ToString();
    Layout = "_Layout2";

}@if (user=="")
{
   <h2>PAGE NOT FOUND</h2>
}
<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="large material-icons">flash_on</i></h2>
                    <h5 class="center">Speeds</h5>

                    <p class="light">La forma mas rapida para poder hacer hacer reuniones 
                    le garantizamos un servicio de calidad a nuestro Usuarios</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="large material-icons">assignment</i></h2>
                    <h5 class="center">Experience </h5>

                    <p class="light">Contactamos con años de experincia en el mercado  en el area de TI para poder brindar una solucion 
                    para su empresa para que alcance las metas establecidad</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="large material-icons">laptop_mac</i></h2>
                    <h5 class="center">Easy</h5>

                    <p class="light">Una forma nueva  y interactiva de poder realizar sus consultas con un sistama totalmente 
                     digital y simple de usar para brindarles la mejor experiencia</p>
                </div>
            </div>
        </div>

    </div>

</div>