@model ProyectoWeb2.Models.Usuarios

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout2";
}

<h2 style="color:white">Crear</h2>

<h4 style="color:white">Usuarios</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form style="color:white" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="usuario" class="control-label blue-text" ></label>
                <input asp-for="usuario" class="form-control" />
                <span asp-validation-for="usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="correo" class="control-label blue-text"></label>
                <input asp-for="correo" class="form-control" />
                <span asp-validation-for="correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contraseña" class="control-label blue-text"></label>
                <input asp-for="contraseña" class="form-control" />
                <span asp-validation-for="contraseña" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn-floating btn-large waves-effect waves-light green" />
            </div>
        </form>
    </div>
</div>

<div>
    <a  class="btn-floating btn-large waves-effect waves-light blue" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
